# Strata Scratch

## A few more Numpy and Pandas Exercises

Import Numpy and Pandas

Create an array of 64 values starting with 10 and ending with 15 and assign it to x

Create a random shuffled array of values that include the range of values from 0 to 63 and assign to a variable called indices

Shuffle the data in x using the values in indices

Reshape x into a 3-Dimensional Array

Import titanic.csv as a Pandas DataFrame

Investigate the DataFrame (e.g., Check first 5 rows of data, data types and review any summary statistics)

What was the survival rate for men over the age of 50 in first class?

Using groupby, count the number of passengers by Sex, Pclass and Survived (Hint: use three columns for group by)

Create a pipe delimited csv with only the names and ages of the 10 oldest surivors