# Strata Scratch

## A few more Numpy and Pandas Exercises

Import Numpy and Pandas

In [ ]:
import numpy as np
import pandas as pd

Create an array of 64 values starting with 10 and ending with 15 and assign it to x

In [ ]:
x = np.linspace(10,15,64)

Create a random shuffled array of values that include the range of values from 0 to 63 and assign to a variable called indices

In [ ]:
indices = np.random.permutation(64)

Shuffle the data in x using the values in indices

In [ ]:
x[indices]

Reshape x into a 3-Dimensional Array

In [ ]:
x.reshape(4,4,4)

Import titanic.csv as a Pandas DataFrame

In [ ]:
df = pd.read_csv('train.csv')

Investigate the DataFrame (e.g., Check first 5 rows of data, data types and review any summary statistics)

In [ ]:
print(df.head())
print(df.info())
df.describe().T

What was the survival rate for men over the age of 50 in first class?

In [ ]:
df['Survived'][(df.Sex=='male')&(df.Age>50)&(df.Pclass==1)].mean()

Using groupby, count the number of passengers by Sex, Pclass and Survived (Hint: use three columns for group by)

In [ ]:
df.groupby(['Sex','Pclass','Survived'])[['PassengerId']].count()

Create a pipe delimited csv with only the names and ages of the 10 oldest surivors

In [ ]:
survivors = df[df.Survived==1]
survivors.sort_values('Age',ascending=False, inplace=True)
top_survivors = survivors[['Name','Age']].iloc[:10]
top_survivors.to_csv('titanic_10_oldest_survivors', sep='|',index=False)